@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Regular.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Regular.woff") format("woff");
  } 
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Black.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Black.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Bold.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Bold.woff") format("woff");
  }



.page {
    background-color: #000000;
    max-width: 880px;
    color: white;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.header {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 45px auto 0 auto;
}
@media screen and (max-width: 540px) {
    .header {
        margin: 28px auto 0 0;
        }
        }


.header__logo {
    width: 142px;
    height: 33px;
}
@media screen and (max-width: 930px) {
    .header__logo {
        margin-left: 27px;
      }
      }
@media screen and (max-width: 540px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        }
        }

.header__line {
    width: 100%;
    height: 1px;
    background-color: #545454;
    margin: 41px auto 0 auto;
}
@media screen and (max-width: 540px) {
    .header__line {
        margin: 31.6px auto 0 auto;
      }
      }

.content {
    /*border: 1px solid red;*/
}
@media screen and (max-width: 930px) {
    .content {
        margin: 40px 19px 50px 19px;
      }
      }

.profile {
    /*border: 1px solid red;*/
    max-width: 880px;
    margin: 40px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 540px) {
    .profile {
        margin: 42px auto 36px auto;
        }
        } 

.profile__info {
    /*border: 1px solid red;*/
    display: flex;
}
@media screen and (max-width: 715px) {
    .profile__info {
        width: 100%;
        justify-content: center;
      }
      }
@media screen and (max-width: 540px) {
    .profile__info {
        flex-direction: column;
        }
        }     

.profile__image {
    height: 120px;
    border-radius: 50%;
}
@media screen and (max-width: 540px) {
.profile__image {
    width: 120px;
    align-self: center;
    }
    } 
    
.profile__titles {
    display: flex;
    padding-bottom: 14px;
    column-gap: 18px;
}
@media screen and (max-width: 540px) {
    .profile__titles {
        column-gap: 10px;
        }
        } 
@media screen and (max-width: 420px) {
    .profile__titles {
        margin-left: 46px;
        }
        } 


.profile__texts {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    max-height: 73px;
    column-gap: 18px;
    padding-left: 30px;
    align-self: center;
    justify-content: space-between;
}
@media screen and (max-width: 540px) {
    .profile__texts {
        margin-top: 26px; 
        max-height: 54px;
        padding-left: 0;
        }
        } 

.profile__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 420px) {
    .profile__title {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        }
        } 

.profile__text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 540px) {
    .profile__text {
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        }
        } 
@media screen and (max-width: 420px) {
    .profile__text {
        margin-left: 62px;
        max-width: 158px;
        }
        }  

.profile__edit-button {
    width: 24px;
    height: 24px;
    align-self: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 0;
}
@media screen and (max-width: 420px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        }
        } 

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    margin: auto 0 auto auto;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    box-sizing: border-box;
}
@media screen and (max-width: 715px) {
    .profile__add-button {
        width: 100%;
        height: 50px;
        margin: 36px 0 auto auto;
      }
      }

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}
      

.profile__add-button-image {
    width: 22px;
    height: 22px;
}
@media screen and (max-width: 540px) {
    .profile__add-button-image {
        width: 16px;
        height: 16px;
        }
        } 

.elements {
    /*border: 1px solid red;*/
    
}

.group {
    display: grid;
    /*border: 1px solid red;*/
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.element {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000000;
    max-height: 361px;
}
@media screen and (max-width: 930px) {
    .element {
        max-height: none;
        }
        } 
@media screen and (max-width: 340px) {
    .element {
        max-height: 361px;
        }
        } 


.element__image {
    max-width: 100%;
    
}

.element__vector_active { 
    background-image: url(./image/vector_active.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    padding-right: 5px; 
  }

.element__vector {
    background-image: url(./image/Vector.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    padding-right: 5px; 
  }

  .element__vector:hover {
    opacity: 0.5;
    cursor: pointer;
  }

.element__texts {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
    align-items: center;
    
}

.element__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 930px) {
    .footer {
        margin: 0 19px 0 19px;
      }
      }

.footer__copyright {
    padding-top: 66px;
    padding-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #545454;
}
@media screen and (max-width: 930px) {
    .footer__copyright {
        padding-top: 0px;
        padding-bottom: 60px;
      }
      }
@media screen and (max-width: 930px) {
    .footer__copyright {
        font-weight: 400;
        line-height: 17px;
        }
        }
@media screen and (max-width: 540px) {
    .footer__copyright {
        font-size: 14px;
        }
        }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
}

.popup_opened {
    display: flex;
}

.popup__container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}

.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(./image/popup_buttton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    border: none;

}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

.popup__header {
    color: #000000;
    padding-top: 34px;
    padding-left: 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.popup__field-name {
    
    margin: 51px 44px 0 28px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

}

.popup__field-description {
    margin-top: 33px;
    margin-left: 28px;
    margin: 33px 44px 0 28px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__save {
    margin: 51px 36px 37px 36px;
    min-height: 50px;
    border-radius: 2px;
    background-color: #000000;
    color: #fff;
}

.popup__save:hover {
    opacity: 0.8;
    cursor: pointer;
}