.profile {
    /*border: 1px solid red;*/
    max-width: 880px;
    margin: 40px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 540px) {
    .profile {
        margin: 42px auto 36px auto;
        }
        }