.element__vector {
  background-image: url(../../../image/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  padding-right: 16px;
}

.element__vector:hover {
  opacity: 0.5;
  cursor: pointer;
}
