.header {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 45px auto 0 auto;
}
@media screen and (max-width: 540px) {
    .header {
        margin: 28px auto 0 0;
        }
        }