.popup-cards__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../image/popup_buttton.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 540px) {
  .popup-cards__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup-cards__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
