.popup-avatar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.5s, visibility 0.5s linear;
  align-items: center;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  box-sizing: border-box;
}
