@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/preload/preload.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__titles/profile__titles.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__texts/profile__texts.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-button-image/profile__add-button-image.css);
@import url(../blocks/profile/__image-container/profile__image-container.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__vector/element__vector.css);
@import url(../blocks/element/__vector/_active/element__vector_active.css);
@import url(../blocks/element/__texts/element__texts.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__image-container/element__image-container.css);
@import url(../blocks/elements/__group/elements__group.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_type/popup__field_type_name.css);
@import url(../blocks/popup/__field/_type/popup__field_type_description.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__profile-info/popup__profile-info.css);

@import url(../blocks/popup-cards/popup-cards.css);
@import url(../blocks/popup-cards/__close/popup-cards__close.css);
@import url(../blocks/popup-cards/__container/popup-cards__container.css);
@import url(../blocks/popup-cards/__field/popup-cards__field.css);
@import url(../blocks/popup-cards/__field/_type/popup-cards__field_type_name.css);
@import url(../blocks/popup-cards/__field/_type/popup-cards__field_type_link.css);
@import url(../blocks/popup-cards/__form/popup-cards__form.css);
@import url(../blocks/popup-cards/__header/popup-cards__header.css);
@import url(../blocks/popup-cards/__profile-info/popup-cards__profile-info.css);
@import url(../blocks/popup-cards/__save/popup-cards__save.css);
@import url(../blocks/popup-cards/_opened/popup-cards_opened.css);

@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/__close/popup-image__close.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);
@import url(../blocks/popup-image/__container-picture/popup-image__container-picture.css);
@import url(../blocks/popup-image/__picture/popup-image__picture.css);
@import url(../blocks/popup-image/__text/popup-image__text.css);
@import url(../blocks/popup-image/_opened/popup-image_opened.css);
@import url(../blocks/popup/_opened/popup_opened.css);
