.profile__titles {
  display: flex;
  padding-bottom: 14px;
  column-gap: 18px;
}
@media screen and (max-width: 540px) {
  .profile__titles {
    column-gap: 10px;
  }
}
@media screen and (max-width: 420px) {
  .profile__titles {
    padding-left: 28px;
    padding-bottom: 6px;
    margin: 0 auto;
  }
}
