.popup__field {
  max-height: 14px;
  padding: 0 0 11px 0;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  /*margin: 30px 0 0 0;*/
  margin: 0;
}
